@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Aimation */

@keyframes float
{
    0%, 100% 
    {
        transform: translateY(0);
    }
    50% 
    {
        transform: translateY(-10px);
    }
}

@keyframes float-icon
{
    0%, 100% 
    {
        transform: translateY(0);
    }
    50% 
    {
        transform: translateX(-6px);
    }
    
}

@keyframes float-search-icon
{
    0%, 100% 
    {
        transform: translateY(0px);
    }
    50% 
    {
        transform: translateX(-10px);
    }
    
}

.body
{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Navigation bar */

.cstmbtn:hover
{
    opacity: 10%;
    background-color: transparent;
}

.licontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 7px;
    transition: all 0.5s ease;
}

.licontainer:hover
{
    background-color: #35495e;
    border-radius: 70px;
    animation: float-icon 2s ease-in-out infinite;
    opacity: 60%;
}

.licontainer-home
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 7px;
    transition: all 0.5s ease;
    background-color: #35495e;
    border-radius: 70px;
    animation: float-icon 2s ease-in-out infinite;
}

.licontainer-home:hover
{
    background-color: #35495e;
    border-radius: 70px;
    opacity: 60%;
}

.licontainer-books
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 7px;
    transition: all 0.5s ease;
    background-color: #35495e;
    border-radius: 70px;
    animation: float-icon 2s ease-in-out infinite;
}

.licontainer-books:hover
{
    background-color: #35495e;
    border-radius: 70px;
    opacity: 60%;
}

.licontainer-about
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 7px;
    transition: all 0.5s ease;
    background-color: #35495e;
    border-radius: 70px;
    animation: float-icon 2s ease-in-out infinite;
}

.licontainer-about:hover
{
    background-color: #35495e;
    border-radius: 70px;
    opacity: 60%;
}

.licontainer-rev
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 7px;
    transition: all 0.5s ease;
    background-color: #35495e;
    border-radius: 70px;
    animation: float-icon 2s ease-in-out infinite;
}

.licontainer-rev:hover
{
    background-color: #35495e;
    border-radius: 70px;
    opacity: 60%;
}

.navbar-nav{
    margin-left: 105px;
    align-items: center;
}


.search-bar
{
    background-color: #35495e;
    border-radius: 30px;
    margin-top: 19px;
    margin-left: 229px;
    align-items: center;
    display: inline-flex;
    padding-left: 20px;
    overflow: hidden;
}

.search-bar input[type="text"]
{  
    color: white;
    font-size: 14px;
    flex: 1;
    outline: none;
    margin-bottom: -4px;
    padding-bottom: 80px;
    transform: translateY(-8px);
}

.search-bar input[type="image"]
{
    width: 25px;
    height: 25px;
    margin-right: 25px;
    margin-left: 10px;
}

.search-bar input:not(:placeholder-shown) + input[type="image"]
{ 
    animation: float-search-icon 2.3s ease-in-out infinite;
}


.search-bar input::placeholder
{
    opacity: 50%;
    color: white;
}

#search{
    background-color: transparent;
    padding: 6px;
    border: none;
    border-color: #7b61ff;
    margin-top: 8px;
    font-size: 17px;
}

.cstm-navlink
{
    text-decoration: none;
    padding-left: 15px;
    color: white;
}

#navline
{
    border: solid 2px white;
    opacity: 30%;
    width: 84%;
    text-align:center;
    margin-left: 110px;
}

.nav-logo
{
    width: 40px;
    margin-left: 138px;
    margin-top: 19px;
    animation: float 3s ease-in-out infinite;
}

.nav-logo-btn
{
    width: 40px;
    margin-left: 138px;
    margin-top: 19px;
    animation: float 3s ease-in-out infinite;
}

/* Home page */

.cstmhero
{
    padding: 120px 0;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

.hero-img 
{
    max-width: 100%;
    height: auto;
    animation: float 3s ease-in-out infinite;
}


.cstmbtn
{
    text-decoration: none;
    font-size: 18px;
    background-color: #e64c3c;
    color: white;
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 10px;
    transition: all 0.5s ease;
}

/* About us page */

.about-us-sec 
{
    color: white;
    text-align: center;
    font-size: 1.1rem;

}

.about-us-sec h1
{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.about-us-sec img
{
    transform: translate(120px,-40px);
}

.about-short-line
{
    color: white;
    border: solid 1px white;
    width: 20%;
    margin-left: 630px;
}

.our-branches-sec 
{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.our-branches-sec img
{
    transform: translate(160px,-40px);
}

.our-branches-sec li
{
    list-style-image: url(https://img.icons8.com/ios-filled/16/FFFFFF/marker.png)
}

.branches-short-line
{
    color: white;
    border: solid 1px white;
    width: 25%;
    margin-left: 590px;
}

.contact-info-sec
{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.contact-info-sec img
{
    transform: translate(210px,-40px);
}

.contact-short-line
{
    color: white;
    border: solid 1px white;
    width: 35%;
    margin-left: 500px;
}

#about-line1
{
    color: white;
    border: solid 1px white;
    width: 14%;
    transform: translate(300px,30px);
}

#about-line2
{
    color: white;
    border: solid 1px white;
    width: 14%;
    transform: translate(1000px,-30px);
}

#about-us-txt
{
    color: white;
    display: flex;
    justify-content: center;
}

.social-btns {
    width: 100%;
    padding-block: 1.5rem;
    display: flex;
    justify-content: center;
  }
  

.social-btns > button
{
    background-color: transparent ;
    border: none;
}

/* review page */


.star-rating 
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 100px;
    margin-left: 70px;
    background-color: transparent;
}  

input[type="radio"]
{
    display: none;
}

.star 
{
    width: 40px;
    height: 40px;
    background-image: url('star-regular\ \(2\).svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

input:checked ~ label 
{
    background-image: url('star-solid\ \(3\).svg');
}

.star:hover, .star:hover ~ label 
{
    background-image: url('star-solid\ \(3\).svg');
}

.reviewcontainer
{
    display: flex;
    justify-content: center;
}

.reviewtxtarea
{
    margin-top: 60px;
    margin-left: 70px;
    padding-right: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 3px;
    background-color: transparent;
    resize: none;
}

.customreviewbtn
{
    position: absolute;
    margin-top: 200px;
}

/* bookstyle */

body {
    background-color: #0a0a1a; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .custom-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
.custom-btn:hover 
{
    background-color: #3a4e5f; 
    color: white;
}
  
.custom-btn.active 
{
    background-color: #3a4e5f; 
    color: white;
}
  
.download-btn 
{
    background-color: white;
    color: #1c1c2a;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bo
}

  
  /* .download-btn {
    background-color: white;
    color: #1c1c2a;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: #3a4e5f;
    color: white;
  } */
  
.custom-card 
{
    max-width: 1000px;
    min-width: 500px;
    height: 140px;
    margin: 20px auto;
    background-color: rgba(30, 41, 59, 0.8);
    border: 1px solid #3a4e5f;
    border-radius: 5px;
    padding: 16px;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}
  
.custom-card:hover 
{
    background-color: #3a4e5f;
}
  
.card-content 
{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 170%;
    height: 100%;
}
  
.card-image 
{
    width: 100px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
  
.card-text 
{
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
  
.card-title 
{
    margin: 0 0 10px;
    font-size: 18px;
    color: white;
}
  
.card-description 
{
    margin-top: 7px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}
.cards-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}