@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.about-us-sec 
{
    color: white;
    text-align: center;
    font-size: 1.1rem;

}

.about-us-sec h1
{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.about-us-sec img
{
    transform: translate(120px,-40px);
}

.about-short-line
{
    color: white;
    border: solid 1px white;
    width: 20%;
    margin-left: 630px;
}

.our-branches-sec 
{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.our-branches-sec img
{
    transform: translate(160px,-40px);
}

.our-branches-sec li
{
    list-style-image: url(https://img.icons8.com/ios-filled/16/FFFFFF/marker.png)
}

.branches-short-line
{
    color: white;
    border: solid 1px white;
    width: 25%;
    margin-left: 590px;
}

.contact-info-sec
{
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.contact-info-sec img
{
    transform: translate(210px,-40px);
}

.contact-short-line
{
    color: white;
    border: solid 1px white;
    width: 35%;
    margin-left: 500px;
}

#about-line1
{
    color: white;
    border: solid 1px white;
    width: 14%;
    transform: translate(300px,30px);
}

#about-line2
{
    color: white;
    border: solid 1px white;
    width: 14%;
    transform: translate(1000px,-30px);
}

#about-us-txt
{
    color: white;
    display: flex;
    justify-content: center;
}

.social-btns {
    width: 100%;
    padding-block: 1.5rem;
    display: flex;
    justify-content: center;
  }
  

.social-btns > button
{
    background-color: transparent ;
    border: none;
}

/* review page */
